# Gradle
.gradle

# ============ OSs ============

# Windows
*.db
$RECYCLE.BIN/

# Mac
.DS_Store

# ============ IDEs ============
# VSCode
.settings/
.vscode/

# Eclipse
.checkstyle
.classpath
.metadata
.settings
.project
*.launch

# Intellij/Idea
.factorypath
.idea
*.iml
*.ipr
*.iws


# ============ ScorchedCraft ============


# ============ Fabric ============

# Build artifacts
bin/
build/
jars/
out/
classes/

# Debug artifacts
run
*.log

# ============ Bukkit ============

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/